.line {
    text-align: center;
    position: relative;
}

.line span {
    display: inline-block;
    padding: 0 8px;
    background: var(--bs-white);
    position: relative;
    z-index: 1;
}

.line::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: var(--bs-border-color);
    margin: auto;
}

/* ------ Cách sử dụng
<div class="line"><span>Nội dung</span></div> 
*/

/* --------Custom class input cho bootstrap--------- */
.form-outline {
    position: relative;
}

.form-outline>.form-control {
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-outline>.form-control::placeholder {
    color: transparent;
}

.form-outline>.form-control:not(:placeholder-shown)~label,
/* .form-outline>.form-control:valid~label, */
.form-outline>.form-control:focus~label {
    transform: translateY(-250%);
    background-color: var(--bs-white);
    padding: 0 2px;
}

.form-outline>label {
    position: absolute;
    left: 15px;
    top: 15px;
    white-space: nowrap;
    line-height: 0.5;
    color: var(--bs-secondary-color);
    pointer-events: none;
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-outline>.form-control-sm~label {
    font-size: 0.875rem;
    top: 12px;
    left: 9px;
}

.form-outline>.form-control-lg~label {
    font-size: 1.25rem;
    top: 19px;
    left: 17px;
}

/* --------Cách sử dụng
<div class="form-outline">
    <input type="text" class="form-control" placeholder="Email hoặc tên đăng nhập">
    <label>Email hoặc tên đăng nhập</label>
</div>
*/

/* --------Custom class btn password cho bootstrap--------- */
.form-password {
    position: relative;
}

.form-password>.btn {
    position: absolute;
    right: 0;
    top: 2px;
    border: none;
}

.form-password>.form-control.is-valid {
    background-position: right calc(2rem + .1875rem) center;
}

.form-password>.form-control.is-invalid {
    background-position: right calc(2rem + .1875rem) center;
}

/* --------Cách sử dụng
<div class="form-outline form-password">
    <input type="password" class="form-control" placeholder="Mật khẩu">
    <label>Mật khẩu</label>
    <button class="btn"><i class="bi bi-eye"></i></button>
</div>
*/

.border-hover-none {
    border: none !important;
}

.form-focus:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: #86b7fe !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
}

/* Bootstrap Border Hover Color*/
.border-hover:hover {
    border-color: var(--bs-border-color) !important;
}

.border-hover-primary:hover {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-primary-rgb), var(--bs-border-opacity)) !important;
}

.border-hover-primary-subtle:hover {
    border-color: var(--bs-primary-border-subtle) !important;
}

.border-hover-secondary:hover {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-secondary-rgb), var(--bs-border-opacity)) !important;
}

.border-hover-secondary-subtle:hover {
    border-color: var(--bs-secondary-border-subtle) !important;
}

.border-hover-success:hover {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
}

.border-hover-success-subtle:hover {
    border-color: var(--bs-success-border-subtle) !important;
}

.border-hover-danger:hover {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-danger-rgb), var(--bs-border-opacity)) !important;
}

.border-hover-danger-subtle:hover {
    border-color: var(--bs-danger-border-subtle) !important;
}

.border-hover-warning:hover {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-warning-rgb), var(--bs-border-opacity)) !important;
}

.border-hover-warning-subtle:hover {
    border-color: var(--bs-warning-border-subtle) !important;
}

.border-hover-info:hover {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-info-rgb), var(--bs-border-opacity)) !important;
}

.border-hover-info-subtle:hover {
    border-color: var(--bs-info-border-subtle) !important;
}

.border-hover-light:hover {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-light-rgb), var(--bs-border-opacity)) !important;
}

.border-hover-light-subtle:hover {
    border-color: var(--bs-light-border-subtle) !important;
}

.border-hover-dark:hover {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-dark-rgb), var(--bs-border-opacity)) !important;
}

.border-hover-dark-subtle:hover {
    border-color: var(--bs-dark-border-subtle) !important;
}

.border-hover-black:hover {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-black-rgb), var(--bs-border-opacity)) !important;
}

.border-hover-white:hover {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-white-rgb), var(--bs-border-opacity)) !important;
}

/* Bootstrap Form Check Input Checked */
.form-check-input-primary:checked {
    background-color: var(--bs-primary) !important;
    border-color: var(--bs-primary) !important;
}

.form-check-input-secondary:checked {
    background-color: var(--bs-secondary) !important;
    border-color: var(--bs-secondary) !important;
}

.form-check-input-success:checked {
    background-color: var(--bs-success) !important;
    border-color: var(--bs-success) !important;
}

.form-check-input-danger:checked {
    background-color: var(--bs-danger) !important;
    border-color: var(--bs-danger) !important;
}

.form-check-input-warning:checked {
    background-color: var(--bs-warning) !important;
    border-color: var(--bs-warning) !important;
}

.form-check-input-info:checked {
    background-color: var(--bs-info) !important;
    border-color: var(--bs-info) !important;
}

.form-check-input-light:checked {
    background-color: var(--bs-light) !important;
    border-color: var(--bs-light) !important;
}

.form-check-input-dark:checked {
    background-color: var(--bs-dark) !important;
    border-color: var(--bs-dark) !important;
}

/* Bootstrap Form Check Input Focus */
.border-focus-primary:focus,
.form-check-input-primary:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    outline: 0 !important;
    border-color: var(--bs-primary) !important;
    box-shadow: 0 0 0 .25rem rgba(var(--bs-primary-rgb), .2)
}

.border-focus-secondary:focus,
.form-check-input-secondary:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    outline: 0 !important;
    border-color: var(--bs-secondary) !important;
    box-shadow: 0 0 0 .25rem rgba(var(--bs-secondary-rgb), .2)
}

.border-focus-success:focus,
.form-check-input-success:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    outline: 0 !important;
    border-color: var(--bs-success) !important;
    box-shadow: 0 0 0 .25rem rgba(var(--bs-success-rgb), .2)
}

.border-focus-danger:focus,
.form-check-input-danger:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    outline: 0 !important;
    border-color: var(--bs-danger) !important;
    box-shadow: 0 0 0 .25rem rgba(var(--bs-danger-rgb), .2)
}

.border-focus-warning:focus,
.form-check-input-warning:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    outline: 0 !important;
    border-color: var(--bs-warning) !important;
    box-shadow: 0 0 0 .25rem rgba(var(--bs-warning-rgb), .2)
}

.border-focus-info:focus,
.form-check-input-info:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    outline: 0 !important;
    border-color: var(--bs-info) !important;
    box-shadow: 0 0 0 .25rem rgba(var(--bs-info-rgb), .2)
}

.border-focus-light:focus,
.form-check-input-light:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    outline: 0 !important;
    border-color: var(--bs-light) !important;
    box-shadow: 0 0 0 .25rem rgba(var(--bs-light-rgb), .2)
}

.border-focus-dark:focus,
.form-check-input-dark:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    outline: 0 !important;
    border-color: var(--bs-dark) !important;
    box-shadow: 0 0 0 .25rem rgba(var(--bs-dark-rgb), .2)
}

.smooth-scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: none;
}

.smooth-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.smooth-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.link-hover-primary:hover {
    transition: all 0.3s ease;
    color: var(--bs-primary);
}

.link-hover-secondary:hover {
    transition: all 0.3s ease;
    color: var(--bs-secondary);
}

.link-hover-success:hover {
    transition: all 0.3s ease;
    color: var(--bs-success);
}

.link-hover-danger:hover {
    transition: all 0.3s ease;
    color: var(--bs-danger);
}

.link-hover-warning:hover {
    transition: all 0.3s ease;
    color: var(--bs-warning);
}

.link-hover-info:hover {
    transition: all 0.3s ease;
    color: var(--bs-info);
}

.link-hover-light:hover {
    transition: all 0.3s ease;
    color: var(--bs-light);
}

.link-hover-dark:hover {
    transition: all 0.3s ease;
    color: var(--bs-dark);
}