@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Courgette';
    src: url('../fonts/Courgette-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lilita One';
    src: url('../fonts/LilitaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Xoá 2 nút tăng giảm trong trường input type number */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.brtop {
    position: absolute;
    height: 25px;
    width: 100%;
    background-color: transparent;
    top: -25px;
}

.brbottom {
    position: absolute;
    height: 25px;
    width: 100%;
    background-color: transparent;
    bottom: -25px;
}

.pointer {
    cursor: pointer !important
}

p {
    margin-bottom: 0;
}

.input-group-search>.form-control:focus {
    outline: none;
    box-shadow: none;
    border-right: unset;
    border-color: var(--bs-border-color);
}

.input-group-search>.form-control {
    border-right: unset;
}

@media (max-width: 1200px) {
    .menu-text {
        display: none;
    }
}

.sub-menu {
    flex: auto;
    max-width: initial;
    position: relative;
    text-align: center;
}

.sub-menu a {
    padding: 12px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

.sub-menu a:hover {
    color: var(--bs-danger);
}

.sub-menu:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 24px;
    width: 0.5px;
    background-color: var(--bs-gray-dark);
}

.footer-link {
    display: block;
    color: var(--bs-white);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease;
    line-height: 2rem;
}

.footer-link:hover {
    color: var(--bs-danger);
    text-decoration: underline;
}

.category {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--bs-white);
}

.category:hover .category-menu {
    display: block;
}

.category-menu {
    display: none;
    position: absolute;
    z-index: 999;
    top: 50px;
    right: 0;
    background-color: var(--bs-white);
}

.category-list {
    width: 220px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.category-item {
    padding: 5px 10px;
    display: flex;
    color: var(--bs-dark);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.category-item i {
    display: inline-block;
    flex: 1;
}

.category-item p {
    flex: 7;
}

.category-item:hover {
    background-color: var(--bs-danger);
    color: var(--bs-white);
}

.user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--bs-white);
    height: 100%;
}

.user:hover .user-menu {
    display: block;
}

.user-menu {
    display: none;
    position: absolute;
    z-index: 999;
    right: 0;
    top: 50px;
    padding: 0;
    list-style: none;
    background-color: var(--bs-white);
}

.user-menu_item {
    white-space: nowrap;
}

.user-menu_item a {
    padding: 7px 12px;
    display: flex;
    color: var(--bs-dark);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    width: 100%;
}

.user-menu_item a:hover {
    background-color: var(--bs-danger);
    color: var(--bs-white);
}

.user-menu_item a i {
    display: inline-block;
    margin-right: 6px;
}

.user-menu_item a span {
    display: inline-block;
    width: 100%;
}

.link-app {
    text-decoration: none;
    color: var(--bs-dark);
    transition: all 0.3s ease;
}

.link-app:hover {
    color: var(--bs-danger);
    text-decoration: underline;
}

.btn-overlay {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--bs-white);
}

.btn-overlay:hover {
    opacity: 0.9;
    color: var(--bs-white);
}

.btn-overlay .logo-container {
    width: 28px;
    height: 28px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.btn-overlay .logo-container img {
    width: 30px;
}

#admin-content::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background: none;
}

#admin-content::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 25px;
    transition: all 0.5s ease;
}

#admin-content::-webkit-scrollbar-thumb:hover {
    background: #555;
}