<div class="row">
    {{!-- Filter --}}
    <div class="col-3">
        <div class="rounded bg-white">
            <div class="d-flex align-items-center fw-bold fs-5 p-3">
                <i class="fa-regular fa-filters"></i>
                <span class="ps-3">Bộ lọc tìm kiếm</span>
            </div>

            {{!-- Filter Brands --}}
            <div class="border-top p-3">
                <a href="#filter-brands-collapse"
                    class="d-flex w-100 justify-content-between align-items-center text-black text-decoration-none text-nowrap fw-bold"
                    role="button" data-bs-toggle="collapse" aria-expanded="true" aria-expanded-icon="true"
                    aria-controls="filter-brands-collapse">
                    <div>
                        <i class="fa-regular fa-conveyor-belt-boxes"></i>
                        <span class="ps-2">Hãng sản xuất</span>
                    </div>
                </a>

                <div id="filter-brands-collapse" class="collapse show p-0">
                    <div class="d-flex w-100" style="flex-wrap: wrap;">
                        <button class="btn btn-sm btn-light m-2 flex-grow-1 border" style="width: 90px">Apple</button>
                        <button class="btn btn-sm btn-light m-2 flex-grow-1 border" style="width: 90px">Asus</button>
                        <button class="btn btn-sm btn-light m-2 flex-grow-1 border" style="width: 90px">Acer</button>
                        <button class="btn btn-sm btn-light m-2 flex-grow-1 border" style="width: 90px">MSI</button>
                        <button class="btn btn-sm btn-light m-2 flex-grow-1 border" style="width: 90px">Lenovo</button>
                        <button class="btn btn-sm btn-light m-2 flex-grow-1 border"
                            style="width: 90px">Gigabyte</button>
                        <button class="btn btn-sm btn-light m-2 flex-grow-1 border" style="width: 90px">Dell</button>
                        <button class="btn btn-sm btn-light m-2 flex-grow-1 border" style="width: 90px">HP</button>
                    </div>
                </div>
            </div>

            {{!-- Filter Price --}}
            <div class="border-top p-3">
                <a href="#filter-price-collapse"
                    class="d-flex w-100 justify-content-between align-items-center text-black text-decoration-none text-nowrap fw-bold"
                    role="button" data-bs-toggle="collapse" aria-expanded="true" aria-expanded-icon="true"
                    aria-controls="filter-price-collapse">
                    <div>
                        <i class="fa-regular fa-money-check-dollar"></i>
                        <span class="ps-2">Mức giá</span>
                    </div>
                </a>

                <div id="filter-price-collapse" class="collapse show p-0">
                    <a data-query-url="all" class="form-check text-black">
                        <input id="filter-price-option0" checked type="radio"
                            class="form-check-input form-check-input-danger rounded pointer" name="filter-price">
                        <label for="filter-price-option0" class="pointer w-100">Tất cả</label>
                    </a>
                    <a data-query-url="10-15" class="form-check text-black">
                        <input id="filter-price-option1" type="radio"
                            class="form-check-input form-check-input-danger rounded pointer" name="filter-price">
                        <label for="filter-price-option1" class="pointer w-100">Từ 10 - 15 triệu</label>
                    </a>
                    <a data-query-url="15-20" class="form-check text-black">
                        <input id="filter-price-option2" type="radio"
                            class="form-check-input form-check-input-danger rounded pointer" name="filter-price">
                        <label for="filter-price-option2" class="pointer w-100">Từ 15 - 20 triệu</label>
                    </a>
                    <a data-query-url="20-25" class="form-check text-black">
                        <input id="filter-price-option3" type="radio"
                            class="form-check-input form-check-input-danger rounded pointer" name="filter-price">
                        <label for="filter-price-option3" class="pointer w-100">Từ 20 - 25 triệu</label>
                    </a>
                    <a data-query-url="25-30" class="form-check text-black">
                        <input id="filter-price-option4" type="radio"
                            class="form-check-input form-check-input-danger rounded pointer" name="filter-price">
                        <label for="filter-price-option4" class="pointer w-100">Từ 25 - 30 triệu</label>
                    </a>
                    <a data-query-url="30" class="form-check text-black">
                        <input id="filter-price-option5" type="radio"
                            class="form-check-input form-check-input-danger rounded pointer" name="filter-price">
                        <label for="filter-price-option5" class="pointer w-100">Trên 30 triệu</label>
                    </a>
                </div>
            </div>

            {{!-- Filter CPU --}}
            <div class="border-top p-3">
                <a href="#filter-cpu-collapse"
                    class="d-flex w-100 justify-content-between align-items-center text-black text-decoration-none text-nowrap fw-bold"
                    role="button" data-bs-toggle="collapse" aria-expanded="true" aria-expanded-icon="true"
                    aria-controls="filter-cpu-collapse">
                    <div>
                        <i class="fa-regular fa-conveyor-belt-boxes"></i>
                        <span class="ps-2">Công nghệ CPU</span>
                    </div>
                </a>

                <div id="filter-cpu-collapse" class="collapse show p-0">
                    <a data-query-url="all" class="form-check text-black">
                        <input id="filter-cpu-option0" checked type="radio" name="filter-cpu"
                            class="form-check-input form-check-input-danger rounded pointer">
                        <label for="filter-cpu-option0" class="pointer w-100">Tất cả</label>
                    </a>
                    <a data-query-url="intel-i9" class="form-check text-black">
                        <input id="filter-cpu-option1" type="radio" name="filter-cpu"
                            class="form-check-input form-check-input-danger rounded pointer">
                        <label for="filter-cpu-option1" class="pointer w-100">Intel Core i9</label>
                    </a>
                    <a data-query-url="intel-i7" class="form-check text-black">
                        <input id="filter-cpu-option2" type="radio" name="filter-cpu"
                            class="form-check-input form-check-input-danger rounded pointer">
                        <label for="filter-cpu-option2" class="pointer w-100">Intel Core i7</label>
                    </a>
                    <a data-query-url="intel-i5" class="form-check text-black">
                        <input id="filter-cpu-option3" type="radio" name="filter-cpu"
                            class="form-check-input form-check-input-danger rounded pointer">
                        <label for="filter-cpu-option3" class="pointer w-100">Intel Core i5</label>
                    </a>
                    <a data-query-url="intel-i3" class="form-check text-black">
                        <input id="filter-cpu-option4" type="radio" name="filter-cpu"
                            class="form-check-input form-check-input-danger rounded pointer">
                        <label for="filter-cpu-option4" class="pointer w-100">Intel Core i3</label>
                    </a>
                    <a data-query-url="amd-7" class="form-check text-black">
                        <input id="filter-cpu-option5" type="radio" name="filter-cpu"
                            class="form-check-input form-check-input-danger rounded pointer">
                        <label for="filter-cpu-option5" class="pointer w-100">AMD Ryzen 7</label>
                    </a>
                    <a data-query-url="amd-5" class="form-check text-black">
                        <input id="filter-cpu-option6" type="radio" name="filter-cpu"
                            class="form-check-input form-check-input-danger rounded pointer">
                        <label for="filter-cpu-option6" class="pointer w-100">AMD Ryzen 5</label>
                    </a>
                </div>
            </div>

            {{!-- Filter RAM --}}
            <div class="border-top p-3">
                <a href="#filter-ram-collapse"
                    class="d-flex w-100 justify-content-between align-items-center text-black text-decoration-none text-nowrap fw-bold"
                    role="button" data-bs-toggle="collapse" aria-expanded="true" aria-expanded-icon="true"
                    aria-controls="filter-ram-collapse">
                    <div>
                        <i class="fa-regular fa-conveyor-belt-boxes"></i>
                        <span class="ps-2">RAM</span>
                    </div>
                </a>

                <div id="filter-ram-collapse" class="collapse show p-0">
                    <div class="d-flex align-items-center">
                        <a data-query-url="all" class="form-check text-black flex-grow-1">
                            <input id="filter-ram-option0" checked type="radio" name="filter-ram"
                                class="form-check-input form-check-input-danger rounded pointer">
                            <label for="filter-ram-option0" class="pointer w-100">Tất cả</label>
                        </a>
                        <a data-query-url="64" class="form-check text-black flex-grow-1">
                            <input id="filter-ram-option1" type="radio" name="filter-ram"
                                class="form-check-input form-check-input-danger rounded pointer">
                            <label for="filter-ram-option1" class="pointer w-100">64GB</label>
                        </a>
                    </div>
                    <div class="d-flex align-items-center">
                        <a data-query-url="32" class="form-check text-black flex-grow-1">
                            <input id="filter-ram-option2" type="radio" name="filter-ram"
                                class="form-check-input form-check-input-danger rounded pointer">
                            <label for="filter-ram-option2" class="pointer w-100">32GB</label>
                        </a>
                        <a data-query-url="16" class="form-check text-black flex-grow-1">
                            <input id="filter-ram-option3" type="radio" name="filter-ram"
                                class="form-check-input form-check-input-danger rounded pointer">
                            <label for="filter-ram-option3" class="pointer w-100">16GB</label>
                        </a>
                    </div>
                    <div class="d-flex align-items-center">
                        <a data-query-url="8" class="form-check text-black flex-grow-1">
                            <input id="filter-ram-option4" type="radio" name="filter-ram"
                                class="form-check-input form-check-input-danger rounded pointer">
                            <label for="filter-ram-option4" class="pointer w-100">8GB</label>
                        </a>
                        <a data-query-url="4" class="form-check text-black flex-grow-1">
                            <input id="filter-ram-option5" type="radio" name="filter-ram"
                                class="form-check-input form-check-input-danger rounded pointer">
                            <label for="filter-ram-option5" class="pointer w-100">4GB</label>
                        </a>
                    </div>
                </div>
            </div>

            {{!-- Filter VGA --}}
            <div class="border-top p-3">
                <a href="#filter-vga-collapse"
                    class="d-flex w-100 justify-content-between align-items-center text-black text-decoration-none text-nowrap fw-bold"
                    role="button" data-bs-toggle="collapse" aria-expanded="true" aria-expanded-icon="true"
                    aria-controls="filter-vga-collapse">
                    <div>
                        <i class="fa-regular fa-conveyor-belt-boxes"></i>
                        <span class="ps-2">Card đồ hoạ</span>
                    </div>
                </a>

                <div id="filter-vga-collapse" class="collapse show p-0">
                    <a data-query-url="all" class="form-check text-black">
                        <input id="filter-vga-option0" checked type="radio" name="filter-vga"
                            class="form-check-input form-check-input-danger rounded pointer">
                        <label for="filter-vga-option0" class="pointer w-100">Tất cả</label>
                    </a>
                    <a data-query-url="nvidia" class="form-check text-black">
                        <input id="filter-vga-option1" type="radio" name="filter-vga"
                            class="form-check-input form-check-input-danger rounded pointer">
                        <label for="filter-vga-option1" class="pointer w-100">Nvidia GeForce Series</label>
                    </a>
                    <a data-query-url="amd" class="form-check text-black">
                        <input id="filter-vga-option2" type="radio" name="filter-vga"
                            class="form-check-input form-check-input-danger rounded pointer">
                        <label for="filter-vga-option2" class="pointer w-100">AMD Ryzen Series</label>
                    </a>
                </div>
            </div>

            {{!-- Filter Demand --}}
            <div class="border-top p-3">
                <a href="#filter-demand-collapse"
                    class="d-flex w-100 justify-content-between align-items-center text-black text-decoration-none text-nowrap fw-bold"
                    role="button" data-bs-toggle="collapse" aria-expanded="true" aria-expanded-icon="true"
                    aria-controls="filter-demand-collapse">
                    <div>
                        <i class="fa-regular fa-conveyor-belt-boxes"></i>
                        <span class="ps-2">Card đồ hoạ</span>
                    </div>
                </a>

                <div id="filter-demand-collapse" class="collapse show p-0">
                    <a data-query-url="all" class="form-check text-black">
                        <input id="filter-demand-option0" checked type="radio" name="filter-demand"
                            class="form-check-input form-check-input-danger rounded pointer">
                        <label for="filter-demand-option0" class="pointer w-100">Tất cả</label>
                    </a>
                    <a data-query-url="gaming" class="form-check text-black">
                        <input id="filter-demand-option1" type="radio" name="filter-demand"
                            class="form-check-input form-check-input-danger rounded pointer">
                        <label for="filter-demand-option1" class="pointer w-100">Gaming - Đồ hoạ</label>
                    </a>
                    <a data-query-url="office" class="form-check text-black">
                        <input id="filter-demand-option2" type="radio" name="filter-demand"
                            class="form-check-input form-check-input-danger rounded pointer">
                        <label for="filter-demand-option2" class="pointer w-100">Sinh viên - Văn phòng</label>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {{!-- Content --}}
    <div class="col-9">
        <div class="row">
            <div class="col-3 ps-1 pe-1">
                <a href="#" class="card text-decoration-none border-focus-danger border-hover-danger">
                    <img src="/imgs/default-product.png" alt="Laptop Logo" class="card-img-top p-2">
                    <div class="card-body">
                        <strong class="card-title">Laptop Gaming Asus Tuf 15 Fx506HCB</strong>
                        <div class="d-flex flex-wrap mt-2 p-2 align-items-center bg-secondary-subtle rounded"
                            style="font-size: 12px;">
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-microchip"></i>
                                <span class="ms-2">i5-12500H</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-vr-cardboard"></i>
                                <span class="ms-2">RTX 2050</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-memory"></i>
                                <span class="ms-2">8Gb</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-hard-drive"></i>
                                <span class="ms-2">512Gb</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-display-code"></i>
                                <span class="ms-2">15.6 inch</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-radar"></i>
                                <span class="ms-2">144 Hz</span>
                            </div>
                        </div>
                        <p class="mt-2 text-decoration-line-through" style="font-size: 13px;">20.999.000 ₫</p>
                        <div class="d-flex align-items-center">
                            <strong class="text-danger me-3">19.990.000 ₫</strong>
                            <button
                                class="btn btn-sm text-danger rounded-0 border border-danger bg-danger-subtle pt-0 pb-0"
                                style="font-size: 13px;">
                                -14%
                            </button>
                        </div>
                        <div class="mt-2 d-flex justify-content-end align-items-center" style="font-size: 12px;">
                            <span class="text-warning">0.0 <i class="fa-sharp fa-solid fa-star"></i></span>
                            <span class="ms-2">(0 đánh giá)</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3 ps-1 pe-1">
                <a href="#" class="card text-decoration-none border-focus-danger border-hover-danger">
                    <img src="/imgs/default-product.png" alt="Laptop Logo" class="card-img-top p-2">
                    <div class="card-body">
                        <strong class="card-title">Laptop Gaming Asus Tuf 15 Fx506HCB</strong>
                        <div class="d-flex flex-wrap mt-2 p-2 align-items-center bg-secondary-subtle rounded"
                            style="font-size: 12px;">
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-microchip"></i>
                                <span class="ms-2">i5-12500H</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-vr-cardboard"></i>
                                <span class="ms-2">RTX 2050</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-memory"></i>
                                <span class="ms-2">8Gb</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-hard-drive"></i>
                                <span class="ms-2">512Gb</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-display-code"></i>
                                <span class="ms-2">15.6 inch</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-radar"></i>
                                <span class="ms-2">144 Hz</span>
                            </div>
                        </div>
                        <p class="mt-2 text-decoration-line-through" style="font-size: 13px;">20.999.000 ₫</p>
                        <div class="d-flex align-items-center">
                            <strong class="text-danger me-3">19.990.000 ₫</strong>
                            <button
                                class="btn btn-sm text-danger rounded-0 border border-danger bg-danger-subtle pt-0 pb-0"
                                style="font-size: 13px;">
                                -14%
                            </button>
                        </div>
                        <div class="mt-2 d-flex justify-content-end align-items-center" style="font-size: 12px;">
                            <span class="text-warning">0.0 <i class="fa-sharp fa-solid fa-star"></i></span>
                            <span class="ms-2">(0 đánh giá)</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3 ps-1 pe-1">
                <a href="#" class="card text-decoration-none border-focus-danger border-hover-danger">
                    <img src="/imgs/default-product.png" alt="Laptop Logo" class="card-img-top p-2">
                    <div class="card-body">
                        <strong class="card-title">Laptop Gaming Asus Tuf 15 Fx506HCB</strong>
                        <div class="d-flex flex-wrap mt-2 p-2 align-items-center bg-secondary-subtle rounded"
                            style="font-size: 12px;">
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-microchip"></i>
                                <span class="ms-2">i5-12500H</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-vr-cardboard"></i>
                                <span class="ms-2">RTX 2050</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-memory"></i>
                                <span class="ms-2">8Gb</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-hard-drive"></i>
                                <span class="ms-2">512Gb</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-display-code"></i>
                                <span class="ms-2">15.6 inch</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-radar"></i>
                                <span class="ms-2">144 Hz</span>
                            </div>
                        </div>
                        <p class="mt-2 text-decoration-line-through" style="font-size: 13px;">20.999.000 ₫</p>
                        <div class="d-flex align-items-center">
                            <strong class="text-danger me-3">19.990.000 ₫</strong>
                            <button
                                class="btn btn-sm text-danger rounded-0 border border-danger bg-danger-subtle pt-0 pb-0"
                                style="font-size: 13px;">
                                -14%
                            </button>
                        </div>
                        <div class="mt-2 d-flex justify-content-end align-items-center" style="font-size: 12px;">
                            <span class="text-warning">0.0 <i class="fa-sharp fa-solid fa-star"></i></span>
                            <span class="ms-2">(0 đánh giá)</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-3 ps-1 pe-1">
                <a href="#" class="card text-decoration-none border-focus-danger border-hover-danger">
                    <img src="/imgs/default-product.png" alt="Laptop Logo" class="card-img-top p-2">
                    <div class="card-body">
                        <strong class="card-title">Laptop Gaming Asus Tuf 15 Fx506HCB</strong>
                        <div class="d-flex flex-wrap mt-2 p-2 align-items-center bg-secondary-subtle rounded"
                            style="font-size: 12px;">
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-microchip"></i>
                                <span class="ms-2">i5-12500H</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-vr-cardboard"></i>
                                <span class="ms-2">RTX 2050</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-memory"></i>
                                <span class="ms-2">8Gb</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-hard-drive"></i>
                                <span class="ms-2">512Gb</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-display-code"></i>
                                <span class="ms-2">15.6 inch</span>
                            </div>
                            <div class="flex-grow-1">
                                <i class="fa-regular fa-radar"></i>
                                <span class="ms-2">144 Hz</span>
                            </div>
                        </div>
                        <p class="mt-2 text-decoration-line-through" style="font-size: 13px;">20.999.000 ₫</p>
                        <div class="d-flex align-items-center">
                            <strong class="text-danger me-3">19.990.000 ₫</strong>
                            <button
                                class="btn btn-sm text-danger rounded-0 border border-danger bg-danger-subtle pt-0 pb-0"
                                style="font-size: 13px;">
                                -14%
                            </button>
                        </div>
                        <div class="mt-2 d-flex justify-content-end align-items-center" style="font-size: 12px;">
                            <span class="text-warning">0.0 <i class="fa-sharp fa-solid fa-star"></i></span>
                            <span class="ms-2">(0 đánh giá)</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>