<footer class="bg-dark position-absolute bottom-0 w-100">
    <div class="container pt-5 pb-3 border-bottom border-light" style="border-width: 0.1px !important;">
        <div class="d-flex justify-content-between">
            <div class="text-white" style="font-size: 15px;">
                <strong style="font-size: unset;">VỀ TECHSTORE</strong>
                <a href="#" class="footer-link">Giới thiệu</a>
                <a href="#" class="footer-link">Tuyển dụng</a>
            </div>

            <div class="text-white" style="font-size: 15px;">
                <strong style="font-size: unset;">CHÍNH SÁCH</strong>
                <a href="#" class="footer-link">Chính sách bảo hành</a>
                <a href="#" class="footer-link">Chính sách thanh toán</a>
                <a href="#" class="footer-link">Chính sách giao hàng</a>
                <a href="#" class="footer-link">Chính sách bảo mật</a>
            </div>

            <div class="text-white" style="font-size: 15px;">
                <strong style="font-size: unset;">THÔNG TIN</strong>
                <a href="#" class="footer-link">Hệ thống cửa hàng</a>
                <a href="#" class="footer-link">Hướng dẫn mua hàng</a>
                <a href="#" class="footer-link">Tra cứu địa chỉ bảo hành</a>
            </div>

            <div class="text-white" style="font-size: 15px;">
                <strong style="font-size: unset;">TỔNG ĐÀI HỖ TRỢ</strong>
                <div class="d-flex justify-content-between align-items-center">
                    <p style="line-height: 2rem;">Mua hàng:</p>
                    <span class="text-primary">1900.1900</span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <p style="line-height: 2rem;">Bảo hành:</p>
                    <span class="text-primary">1900.1901</span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <p style="line-height: 2rem;">Khiếu nại:</p>
                    <span class="text-primary">1900.1902</span>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <p style="line-height: 2rem;">Email:</p>
                    <span class="text-primary ps-2">cskh@email.com</span>
                </div>
            </div>

            <div class="text-white" style="font-size: 15px;">
                <strong style="font-size: unset;">ĐƠN VỊ VẬN CHUYỂN</strong>
                <div>
                    <img src="/imgs/ships/ship_1.png" alt="ship" style="width: 70px;">
                    <img src="/imgs/ships/ship_2.png" alt="ship" style="width: 70px;">
                    <img src="/imgs/ships/ship_3.png" alt="ship" style="width: 70px;">
                    <img src="/imgs/ships/ship_4.png" alt="ship" style="width: 70px;">
                </div>
                <strong style="font-size: unset;">CÁC PHƯƠNG THỨC THANH TOÁN</strong>
                <div>
                    <img src="/imgs/pays/pay_1.webp" alt="pay" style="width: 70px;">
                    <img src="/imgs/pays/pay_2.webp" alt="pay" style="width: 70px;">
                    <img src="/imgs/pays/pay_3.webp" alt="pay" style="width: 70px;">
                    <img src="/imgs/pays/pay_4.webp" alt="pay" style="width: 70px;">
                </div>
                <div class="pt-1">
                    <img src="/imgs/pays/pay_5.webp" alt="pay" style="width: 70px;">
                    <img src="/imgs/pays/pay_6.webp" alt="pay" style="width: 70px;">
                    <img src="/imgs/pays/pay_7.webp" alt="pay" style="width: 70px;">
                    <img src="/imgs/pays/pay_8.webp" alt="pay" style="width: 70px;">
                </div>
            </div>
        </div>
    </div>

    <div class="container pt-3 pb-4">
        <div class="d-flex align-items-center">
            <strong class="text-white pe-3">KẾT NỐI VỚI CHÚNG TÔI</strong>
            <div class="d-flex align-items-center">
                <img src="/imgs/icons/facebook-logo.webp" alt="Logo" class="me-3" style="width: 35px;">
                <img src="/imgs/icons/tiktok-logo.webp" alt="Logo" class="me-3" style="width: 35px;">
                <img src="/imgs/icons/youtube-logo.webp" alt="Logo" class="me-3" style="width: 35px;">
                <img src="/imgs/icons/zalo-logo.webp" alt="Logo" class="me-3" style="width: 35px;">
            </div>
        </div>
    </div>
</footer>