<div class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-color: rgb(252, 35, 46);">
            <div class="container">
                <a href="#">
                    <img src="/imgs/ads/adsBar1.png" alt="ads">
                </a>
            </div>
        </div>
        <div class="carousel-item" style="background-color: rgb(58, 147, 103);">
            <div class="container">
                <a href="#">
                    <img src="/imgs/ads/adsBar2.png" alt="ads">
                </a>
            </div>
        </div>
        <div class="carousel-item" style="background-color: rgb(255, 211, 32);">
            <div class="container">
                <a href="#">
                    <img src="/imgs/ads/adsBar3.png" alt="ads">
                </a>
            </div>
        </div>
        <div class="carousel-item" style="background-color: rgb(200, 234, 255);">
            <div class="container">
                <a href="#">
                    <img src="/imgs/ads/adsBar4.png" alt="ads">
                </a>
            </div>
        </div>
    </div>
</div>

<header class="sticky-top">
    <nav class="navbar navbar-expand-lg" style="background-color: #E30019;">
        <div class="container">
            {{!-- Logo --}}
            <a class="navbar-brand" href="#">
                <img src="/imgs/icons/logo.png" alt="logo" style="width: 150px;">
            </a>

            {{!-- Button Toggle --}}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                {{!-- Category --}}
                <div class="category p-1 rounded me-3" style="background-color: #BE1529;min-width: 100px;">
                    <i class="fa-regular fa-bars" style="font-size: 22px;"></i>
                    <div class="d-flex align-items-center" style="height: 35px">
                        <p class="text-nowrap menu-text ps-2" style="font-size: 12px;">Danh mục</p>
                    </div>

                    <div class="category-menu rounded shadow-lg">
                        <div class="brtop"></div>
                        <ul class="category-list">
                            <li class="text-nowrap">
                                <a href="#" class="category-item">
                                    <i class="bi bi-laptop"></i>
                                    <p>Laptop</p>
                                    <strong>&gt;</strong>
                                </a>
                            </li>

                            <li class="text-nowrap">
                                <a href="#" class="category-item">
                                    <i class="bi bi-laptop"></i>
                                    <p>Laptop Gaming</p>
                                    <strong>&gt;</strong>
                                </a>
                            </li>

                            <li class="text-nowrap">
                                <a href="#" class="category-item">
                                    <i class="bi bi-pc-display"></i>
                                    <p>PC Văn Phòng</p>
                                    <strong>&gt;</strong>
                                </a>
                            </li>

                            <li class="text-nowrap">
                                <a href="#" class="category-item">
                                    <i class="bi bi-pc-display"></i>
                                    <p>PC Gaming</p>
                                    <strong>&gt;</strong>
                                </a>
                            </li>

                            <li class="text-nowrap">
                                <a href="#" class="category-item">
                                    <i class="bi bi-phone"></i>
                                    <p>Điện Thoại</p>
                                    <strong>&gt;</strong>
                                </a>
                            </li>

                            <li class="text-nowrap">
                                <a href="#" class="category-item">
                                    <i class="bi bi-display"></i>
                                    <p>Màn hình</p>
                                    <strong>&gt;</strong>
                                </a>
                            </li>

                            <li class="text-nowrap">
                                <a href="#" class="category-item">
                                    <i class="bi bi-keyboard"></i>
                                    <p>Bàn phím</p>
                                    <strong>&gt;</strong>
                                </a>
                            </li>

                            <li class="text-nowrap">
                                <a href="#" class="category-item">
                                    <i class="bi bi-mouse"></i>
                                    <p>Chuột</p>
                                    <strong>&gt;</strong>
                                </a>
                            </li>

                            <li class="text-nowrap">
                                <a href="#" class="category-item">
                                    <i class="bi bi-cpu"></i>
                                    <p>Case, Nguồn, Tản</p>
                                    <strong>&gt;</strong>
                                </a>
                            </li>

                            <li class="text-nowrap">
                                <a href="#" class="category-item">
                                    <i class="bi bi-memory"></i>
                                    <p>Ổ Cứng, RAM, Thẻ Nhớ</p>
                                    <strong>&gt;</strong>
                                </a>
                            </li>

                            <li class="text-nowrap">
                                <a href="#" class="category-item">
                                    <i class="bi bi-speaker"></i>
                                    <p>Loa, Micro, Webcam</p>
                                    <strong>&gt;</strong>
                                </a>
                            </li>

                            <li class="text-nowrap">
                                <a href="#" class="category-item">
                                    <i class="bi bi-headset"></i>
                                    <p>Tai Nghe</p>
                                    <strong>&gt;</strong>
                                </a>
                            </li>

                            <li class="text-nowrap">
                                <a href="#" class="category-item">
                                    <i class="bi bi-controller"></i>
                                    <p>Tay Cầm, Console</p>
                                    <strong>&gt;</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                {{!-- Search --}}
                <div class="input-group input-group-search align-items-center me-3" style="width: 100%;">
                    <input type="text" class="form-control" placeholder="Bạn cần tìm gì?">
                    <button class="btn bg-white" type="button">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {{!-- Hotline --}}
                    <li class="nav-item">
                        <div class="d-flex text-white justify-content-center align-items-center pointer p-1 pe-4">
                            <i class="fa-regular fa-phone-rotary pe-2" style="font-size: 22px;"></i>
                            <p class="text-nowrap menu-text" style="font-size: 12px;">Hotline<br>1900.1900</p>
                        </div>
                    </li>

                    {{!-- Location --}}
                    <li class="nav-item">
                        <a href="#"
                            class="text-decoration-none d-flex text-white justify-content-center align-items-center pointer p-1 pe-4">
                            <i class="fa-regular fa-location-dot pe-2" style="font-size: 22px;"></i>
                            <p class="text-nowrap menu-text" style="font-size: 12px;">Cửa hàng<br>gần bạn</p>
                        </a>
                    </li>

                    {{!-- Check --}}
                    <li class="nav-item">
                        <a href="#"
                            class="text-decoration-none d-flex text-white justify-content-center align-items-center pointer p-1 pe-4">
                            <i class="fa-regular fa-clipboard-list pe-2" style="font-size: 22px;"></i>
                            <p class="text-nowrap menu-text" style="font-size: 12px;">Tra cứu<br>đơn hàng</p>
                        </a>
                    </li>

                    {{!-- Cart --}}
                    <li class="nav-item">
                        <a href="#" class="text-decoration-none d-flex text-white pointer p-1 pe-4">
                            <div class="d-flex justify-content-center align-items-center position-relative">
                                <i class="fa-regular fa-cart-shopping pe-2" style="font-size: 22px;"></i>
                                <p class="text-nowrap menu-text" style="font-size: 12px;">Giỏ<br>hàng</p>
                                <span class="position-absolute translate-middle badge rounded-pill bg-warning"
                                    style="padding: 3px 5px;top: 4px;left: 24px;">
                                    0
                                </span>
                            </div>
                        </a>
                    </li>

                    {{!-- User --}}
                    <li class="nav-item">
                        {{#if user}}
                        <div class="user p-1 rounded" style="background-color: #BE1529;min-width: 100px;">
                            <i class="fa-regular fa-user" style="font-size: 22px;"></i>
                            <div class="d-flex align-items-center" style="height: 35px">
                                <p class="text-nowrap menu-text ps-2" style="font-size: 12px;">
                                    Xin chào<br><span>{{userInfo.FullName}}</span>
                                </p>
                            </div>

                            <ul class="user-menu rounded shadow-lg">
                                <div class="brtop"></div>
                                <li class="user-menu_item">
                                    <a href="#">
                                        <i class="bi bi-person-fill"></i>
                                        <span>Hồ sơ của tôi</span>
                                    </a>
                                </li>
                                <li class="user-menu_item">
                                    <a href="#">
                                        <i class="bi bi-basket"></i>
                                        <span>Đơn hàng của tôi</span>
                                    </a>
                                </li>
                                <li class="user-menu_item">
                                    <a href="#">
                                        <i class="bi bi-clock-history"></i>
                                        <span>Đã xem gần đây</span>
                                    </a>
                                </li>
                                <li class="user-menu_item">
                                    <dir class="line"></dir>
                                </li>
                                <li class="user-menu_item">
                                    <a href="/auth/logout">
                                        <i class="bi bi-box-arrow-right"></i>
                                        <span>Đăng xuất</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {{else}}
                        <div class="user p-1 rounded" data-bs-toggle="modal" data-bs-target="#modal-auth"
                            style="background-color: #BE1529;min-width: 100px;">
                            <i class="fa-regular fa-user" style="font-size: 22px;"></i>
                            <div class="d-flex align-items-center" style="height: 35px">
                                <p class="text-nowrap menu-text ps-2" style="font-size: 12px;">
                                    Đăng nhập<br>hoặc đăng ký
                                </p>
                            </div>
                        </div>
                        {{/if}}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="bg-white">
    <div class="container menu-text">
        <ul class="d-flex align-items-center mb-0" style="flex-flow: row nowrap;list-style: none;">
            <li class="sub-menu">
                <a href="#" class="text-nowrap" style="font-size: 14px;">
                    <i class="bi bi-ticket-detailed"></i>
                    <span class="ps-2">Săn voucher</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="#" class="text-nowrap" style="font-size: 14px;">
                    <i class="bi bi-newspaper"></i>
                    <span class="ps-2">Tin công nghệ</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="#" class="text-nowrap" style="font-size: 14px;">
                    <i class="bi bi-play-btn"></i>
                    <span class="ps-2">Video</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="#" class="text-nowrap" style="font-size: 14px;">
                    <i class="bi bi-credit-card-2-back"></i>
                    <span class="ps-2">Hướng dẫn thanh toán</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="#" class="text-nowrap" style="font-size: 14px;">
                    <i class="bi bi-cash-coin"></i>
                    <span class="ps-2">Hướng dẫn trả góp</span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="#" class="text-nowrap" style="font-size: 14px;">
                    <i class="bi bi-shield-check"></i>
                    <span class="ps-2">Tra cứu bảo hành</span>
                </a>
            </li>
        </ul>
    </div>
</div>

{{!-- Modal Login/Register --}}
<div class="modal fade" id="modal-auth" tabindex="-1" aria-labelledby="modal-auth" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <ul id="tab-auth" class="nav nav-tabs justify-content-center w-100" role="tablist">
                    {{!-- Tab Login --}}
                    <li class="nav-item" role="presentation">
                        <button id="login-tab" class="nav-link active" data-bs-toggle="tab"
                            data-bs-target="#login-tab-pane" type="button" role="tab" aria-controls="login-tab-pane"
                            aria-selected="true">ĐĂNG NHẬP
                        </button>
                    </li>

                    {{!-- Tab Register --}}
                    <li class="nav-item" role="presentation">
                        <button id="register-tab" class="nav-link" data-bs-toggle="tab"
                            data-bs-target="#register-tab-pane" type="button" role="tab"
                            aria-controls="register-tab-pane" aria-selected="true">ĐĂNG KÝ
                        </button>
                    </li>
                </ul>
            </div>

            <div class="modal-body">
                <div id="auth-alert" class="d-none alert alert-danger p-2 mb-4 d-flex align-items-center" role="alert">
                    <i class="bi bi-exclamation-circle-fill pe-2"></i>
                    <div></div>
                </div>

                <div id="tab-auth-content" class="tab-content">
                    {{!-- Pane Login --}}
                    <div id="login-tab-pane" class="tab-pane show active" role="tabpanel" aria-labelledby="login-tab"
                        tabindex="0">
                        <div class="form-outline mb-3">
                            <input id="login-username" type="text" class="form-control"
                                placeholder="Email hoặc tên đăng nhập">
                            <label for="login-password">Email hoặc tên đăng nhập</label>
                        </div>

                        <div class="form-outline form-password mb-3">
                            <input id="login-password" type="password" class="form-control" placeholder="Mật khẩu">
                            <label for="login-password">Mật khẩu</label>
                            <button class="btn" tabindex="-1"><i class="bi bi-eye"></i></button>
                        </div>

                        <div class="d-flex justify-content-end mb-3">
                            <a href="#" class="link-app fst-italic">Quên mật khẩu?</a>
                        </div>

                        <button id="btn-login" class="btn btn-danger w-100" style="height: 41px;">ĐĂNG NHẬP</button>

                        <div class="line mt-3 mb-3">
                            <span>Hoặc đăng nhập bằng</span>
                        </div>
                    </div>

                    {{!-- Pane Register --}}
                    <div id="register-tab-pane" class="tab-pane" role="tabpanel" aria-labelledby="register-tab"
                        tabindex="1">
                        <div class="form-outline mb-3">
                            <input id="register-username" type="text" class="form-control" placeholder="Tên đăng nhập">
                            <label for="register-username">Tên đăng nhập</label>
                        </div>

                        <div class="form-outline mb-3">
                            <input id="register-email" type="email" class="form-control" placeholder="Email">
                            <label for="register-email">Email</label>
                        </div>

                        <div class="form-outline form-password mb-3">
                            <input id="register-password" type="password" class="form-control" placeholder="Mật khẩu">
                            <label for="register-password">Mật khẩu</label>
                            <button class="btn" tabindex="-1"><i class="bi bi-eye"></i></button>
                        </div>

                        <div class="form-outline form-password mb-3">
                            <input id="register-confirm-password" type="password" class="form-control"
                                placeholder="Nhập lại mật khẩu" data-ps-confirm="register-password">
                            <label for="register-confirm-password">Nhập lại mật khẩu</label>
                            <button class="btn" tabindex="-1"><i class="bi bi-eye"></i></button>
                        </div>

                        <button id="btn-register" class="btn btn-danger w-100" style="height: 41px;">ĐĂNG KÝ</button>

                        <div class="line mt-3 mb-3">
                            <span>Hoặc đăng ký bằng</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {{!-- Google Login --}}
                    <div class="col">
                        <button id="btn-google" class="btn w-100 btn-danger">
                            <img src="/imgs/icons/google-plus.png" alt="Login logo" class="me-2" style="width: 28px;">
                            Google
                        </button>
                    </div>

                    {{!-- Facebook Login --}}
                    <div class="col">
                        <button id="btn-facebook" class="btn w-100 btn-primary">
                            <img src="/imgs/icons/facebook.png" alt="Login logo" class="me-2" style="width: 28px;">
                            Facebook
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>