<div class="row mb-3">
    <div class="col-4">
        <img src="https://product.hstatic.net/200000722513/product/asus_gaming_vivobook_k3605zf-rp634w_d59d42a7451f48d48cce32645f03f90c_1024x1024.jpg"
            alt="Product image" class="w-100 rounded">
    </div>

    <div class="col-8">
        <div class="mb-3">
            <label class="form-label">Tên sản phẩm:</label>
            <input type="text" class="form-control" placeholder="Nhập tên sản phẩm">
        </div>

        <div class="mb-3">
            <label class="form-label">URL sản phẩm:</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon3">http://localhost:4850/product/</span>
                <input type="text" class="form-control" placeholder="Nhập tên sản phẩm">
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Hình ảnh:</label>
            <div class="input-group">
                <input type="file" class="form-control">
                <input type="text" class="form-control" placeholder="Hoặc URL đến hình ảnh">
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Loại sản phẩm:</label>
                <select class="form-select">
                    <option value="0">Không có</option>
                    <option value="1">Laptop</option>
                    <option value="2">Laptop Gaming</option>
                    <option value="3">PC</option>
                    <option value="3">PC Gaming</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label">Thương hiệu:</label>
                <select class="form-select">
                    <option value="0">Không có</option>
                    <option value="1">ASUS</option>
                    <option value="2">ACER</option>
                    <option value="3">MSI</option>
                    <option value="3">DELL</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label">Thời gian</label>
                <input type="datetime-local" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label class="form-label">Số lượng:</label>
                <input type="number" min="0" class="form-control" placeholder="Nhập số lượng hiện có">
            </div>
            <div class="col">
                <label class="form-label">Giá bán:</label>
                <input type="number" min="0" class="form-control" placeholder="Nhập giá giá phẩm">
            </div>
            <div class="col-2">
                <label class="form-label">Giảm giá:</label>
                <input type="number" min="0" class="form-control" placeholder="Nhập số giảm giá" value="0">
            </div>
            <div class="col-3">
                <label class="form-label">Trạng thái:</label>
                <select class="form-select">
                    <option value="0">Hiện hoạt</option>
                    <option value="1">Vô hiệu</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row border-top">
    <div class="col-7 mt-3">
        <label for="ckeditor_balloon" class="form-label">Mô tả sản phẩm:</label>
        <div id="ckeditor_balloon" class="border rounded form-focus" tabindex="0" style="height: 500px;"></div>
    </div>
    <div class="col-5 mt-3">
        <label class="form-label">Cấu hình sản phẩm (Nếu có):</label>
        <div class="position-relative overflow-auto smooth-scrollbar mb-3" style="max-height: 450px;">
            <table id="tbl-product-cfg" class="table table-hover table-bordered mb-2">
                <thead>
                    <tr class="text-nowrap table-primary">
                        <th scope="col" class="position-sticky top-0" style="z-index: 1;">Tên cấu hình</th>
                        <th scope="col" class="position-sticky top-0" style="z-index: 1;">Mô tả</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="editable">CPU</td>
                        <td class="editable">
                        </td>
                    </tr>
                    <tr>
                        <td class="editable">RAM</td>
                        <td class="editable"></td>
                    </tr>
                    <tr>
                        <td class="editable">Ỗ Cứng</td>
                        <td class="editable"></td>
                    </tr>
                    <tr>
                        <td class="editable">VGA</td>
                        <td class="editable"></td>
                    </tr>
                    <tr>
                        <td class="editable">Màn hình</td>
                        <td class="editable"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-end">
            <div class="btn-group btn-group-sm">
                <button id="btn-add-product-cfg" class="btn btn-sm btn-primary ">
                    <i class="bi bi-plus-square"></i>
                    <span class="ps-2">Thêm cấu hình</span>
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <div class="dropdown-item">
                            <label for="btn-import-product-cfg" class="">Nhập tệp cấu hình</label>
                            <input id="btn-import-product-cfg" type="file" class="d-none">
                        </div>
                    </li>
                    <li><button id="btn-delete-product-cfg" class="dropdown-item">Xoá tất cả cấu hình</button></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li>
                        <a href="#offcanvas_import-product-cfg" data-bs-toggle="offcanvas" role="button"
                            aria-controls="offcanvas_import-product-cfg" class="dropdown-item">Nhập cấu hình</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvas_import-product-cfg" aria-labelledby="offcanvas_import-product-cfgLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvas_import-product-cfgLabel">Nhập nội dung cấu hình</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <textarea id="text_import-product-cfg" class="form-control h-100"></textarea>
    </div>
</div>


<script src="/js/admin/product.js"></script>