<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/libs/bootstrap-5.3.3/bootstrap.min.css">
    <title>Trang không tồn tại</title>
</head>

<body>
    <style>
        /* Tùy chỉnh CSS nếu cần */
        body {
            background-color: #f8f9fa;
        }

        .error-container {
            text-align: center;
            padding: 100px;
        }
    </style>


    <div class="container">
        <div class="error-container">
            <h1 class="display-4">Trang không tồn tại</h1>
            <p class="lead">Xin lỗi, trang bạn đang tìm kiếm không tồn tại.</p>
            <a class="btn btn-primary" href="/">Quay lại trang chủ</a>
        </div>
    </div>
</body>

</html>