<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/imgs/favicon.ico">
    <link rel="stylesheet" href="/libs/bootstrap-5.3.3/bootstrap.min.css">
    <link rel="stylesheet" href="/libs/fontawesome-6.4.2/css/all.css">
    <link rel="stylesheet" href="/libs/bootstrap-icons-1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="/libs/turbo-8.0.5/turbo.es2017-umd.js"></script>
    <title>TechStore</title>
</head>

<body class="position-relative" style=" background-color: #ECECEC;padding-bottom: 307px;min-height: 100vh;">
    {{> header}}
    
    <main class="container mt-3 mb-3">
        {{{body}}}
    </main>

    {{> footer}}

    <script src="/libs/bootstrap-5.3.3/bootstrap.bundle.min.js"></script>
    <script src="/libs/handlebars/handlebars4.7.8.min.js"></script>
    <script src="/libs/jquery-3.7.1/all.js"></script>
    <script src="/libs/lodash-1.8.3/lodash.min.js"></script>
    <script src="/libs/echarts-5.4.3/echarts/echarts.min.js"></script>
    <script src="/libs/ckeditor5-41.2.0/ckeditor.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>